body {
  font-size: 22px;
  line-height: 1.25;
  text-indent: 30px;
  letter-spacing: 2px;
  font-family: Arial, Helvetica, sans-serif;
  word-spacing: 4px;
}

.bg-box {
  height: 800px;
  width: 1300px;
  background: url("images/grass.png") center bottom / 375px 300px repeat-x,
    url("images/house.jpg") center center / 700px 450px no-repeat,
    url("images/lamp.png") center top / 50px 80px repeat-x,
    url("images/hedgehog.png") left center / 40px 40px repeat-y,
    url("images/donut.png") right center / 40px 40px repeat-y;
  background-color: rgb(50, 199, 50);
}

div[class^="box"] {
  width: 100px;
  height: 100px;
}

.box1 {
  background: repeating-linear-gradient(
    180deg,
    #058f23,
    #058f23 10px,
    transparent 10px,
    transparent 20px
  );
}

.box2 {
  background: linear-gradient(
    130deg,
    #0e0d0d,
    #0e0d0d 20%,
    #8b8a89 20%,
    #8b8a89 80%,
    #0e0d0d 80%,
    #0e0d0d
  );
}

.box3 {
  background: radial-gradient(
    red,
    red 20%,
    rgb(14, 1, 1) 20%,
    rgb(14, 1, 1) 100%
  );
}
